
* {
    text-decoration: none !important;
}

.first {
    width: 50%;
    margin: auto;
    padding-top: 120px;
}

.name{
    color: gray;
}

.picture {
    height: 150px;
    width: auto;
    border-radius: 100%;
}

.icons {
    margin-bottom: 16%;
}

.icon {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 10px;
    color: white;

    padding-right: 9px;
    padding-left: 9px;
    padding-top: 6px;
    padding-bottom: 6px;

    border-style: solid;
    border-color: rgb(72, 72, 72);
    border-width: 1.5px;
    border-radius: 15px;

    vertical-align: middle;
    text-align: justify;
}

.in-text {
    font-size: 1.4rem;
}

.icon:hover {
    color: rgb(220, 179, 247);
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .first {
        width: 90vw !important;
    }
}