
html {
    scroll-behavior: smooth;
}   

.nav-brand {
    font-size: 1.625rem !important;
    color: rgb(238, 238, 238) !important;
}

.nav-container {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(17, 14, 14) !important;
    width: 100vw;
    margin: auto;
}

.bar {
    background-color: rgb(17, 14, 14) !important;
}
 
.header-nav-logo {
    width: 1.75rem;
}

.navLink {
    text-decoration: none;
    color: rgb(238, 238, 238);
    font-size: 1.25rem;
    transition: all 0.2s linear;
    margin-right: 10px;
    margin-left: 10px;
}
 
.navLink:hover {
    text-decoration: 2px #ffffff underline;
}

.toggler {
    color: rgb(255, 255, 255) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
 
@media only screen and (min-width: 1441px) { 
    .nav-brand {
       font-size: 1.625rem;
    }
    
    .navLink {
       font-size: 1.5rem;
    }
}