---
layout: default
---


<!-- Home Content -->
	<h1>Projects</h1>
	<p>I've worked on several academic/personal projects throughout my undergraduate career.  </p>
	{% assign currentYear = "" %}

	{% assign numProj = false %}

	{% for proj in site.projects %}
		{% capture projYear %}{{ proj.date | date: "%Y" }}{% endcapture %}
		{% if projYear != currentYear %}
			{% if currentYear != "" %}
				</div>
			{% endif %}
			<center><h2 class="hr-proj-year line one-line">{{ projYear }}</h2></center>
			<div class="latest-projs">
			{% assign numProj = false %}
			{% assign currentYear = projYear %}
		{% endif %}
		
		{% if numProj == true %}
			<img src="docs/ellipsis.svg" style="margin:auto; display:block; width:70px; height:50px;">
		{% endif %}
		{% assign numProj = true %}

		<div class="proj-card">
			<span class="proj-title">{{proj.title}}</span>
			<br>
			<span class="post-date">{{ proj.date | date: "%B" }}</span>
			<br>
			<img class="proj-img" src="{{ proj.header-img }}">
			<br>
			{{proj.description}} 
			{% if proj.url != "" %}
				<a class="post-date" href="{{ proj.url }}">[github]</a>
			{% endif %}
			<br>
			<div class="tag-list">
				{% for tag in proj.tags %}
					<div class="tag" tag="{{tag}}">{{ tag }}</div>
				{% endfor %}
			</div>
		</div>

	{% endfor %}
	{% if currentYear != "" %}
		</div>
	{% endif %}

