
.page-content {
    width: 50%;
    margin: auto;
    margin-top: 110px;
    background-color: white;
    opacity: 1.0;
    margin-bottom: 60px;
}

.head-title {
    font-size: 3.0rem !important;
}

.first {
    height: 60%;
    margin-bottom: 50%;
}

#about-me {
    position: absolute;
    top: 0;
}

#projects {
    position: absolute;
    margin-top: -80px;
}


.projectList {
    margin-bottom: 100px;
    margin: auto;
}


@media only screen and (max-width: 900px) {
    .page-content {
        width: 90vw !important; 
        margin: none !important; 
    }

    .info { 
        margin: none !important;
        padding: 0 !important;
    }

    .more-info {
        visibility: hidden;
    }
}