
.page-content {
    width: 60%;
    margin: auto;
    margin-top: 160px;
    background-color: white;
    opacity: 1.0;
    margin-bottom: 60px;
}

.first {
    height: 60%;
    margin-bottom: 40%;
}

#about-me {
    position: absolute;
    top: 0;
}

#projects {
    position: absolute;
    margin-top: -80px;
}

#CV {
    position: absolute;
    margin-top: -80px;
}

.picture {
    height: 115px;
    width: 125px;
}

.icon {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}

.bi-linkedin {
    color: rgb(0, 73, 176);
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    * {
        margin: 5px;
        margin-right: 10px;
        margin-left: 10px;

        a {
            text-align: left;
            margin: auto;
        }
    }
}


.proj {
    width: 22rem;
    min-height: 500px;
    transition: transform 0.2s;
    margin-block: 10px;
    font-size: 1rem;
}

.projectList {
    justify-content: space-around;
    align-items: space-around;
    margin-bottom: 100px;
}

.img-container {
    display: flex;
    justify-content: center;
    height: 50%;
}

.proj-image {
    margin:3px;
    object-fit: contain;
}

.proj-text {
    margin: auto;
}

.proj-link {
    position:absolute;
    bottom: 20px;
    text-decoration: none;
    padding: 5px;
    border-style: solid;
    color: black;
    border-radius: 10px;
    transition: transform 0.2s;
}

.proj-link:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
    .page-content {
        width: 90vw !important; 
        margin: none !important; 
    }

    .info { 
        margin: none !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 1441px) {

    .proj {
        width: 28rem !important;
    }
}