
.page-content {
    margin: auto;
    background-color: white;
    margin-bottom: 60px;
}

.top-section {
    background-color: rgb(17, 14, 14) !important;
    color: white !important;
    height: 100vh;
}

.bottom-section {
    background-color: transparent !important;
}

.section-title {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
}

#about-me {
    position: absolute;
    top: 0;
}

#projects {
    position: absolute;
    margin-top: -80px;
}

.colorbar {
    background-image: linear-gradient(rgb(0, 149, 255), white) !important;
    height: 5px !important;
}

.projectList {
    margin-bottom: 100px;
    margin: auto;
    width: 50%;
}


@media only screen and (max-width: 900px) {
    .page-content {
        margin: none !important; 
    }

    .info { 
        margin: none !important;
        padding: 0 !important;
    }

    .section-title {
        width: 90vw !important;
    }

    .projectList {
        width: 90vw !important;
    }

    .more-info {
        visibility: hidden;
    }
}