
.proj {
    margin: auto;
    width: 100%;
    transition: transform 0.2s;
    font-size: 1rem;
    border-radius: 10px !important;
    border-width: 2.4px !important;
    border-color: rgb(83, 83, 83) !important;
    background-color: rgb(255, 255, 255) !important;

    margin-bottom: 25px;
}

.proj-image {
    height: inherit;
    object-fit: contain !important;
}

.proj-date {
    color: gray;
    text-align: center;
    font-size: 0.9rem;
}

.proj-text {
    margin: auto;
}

.proj-link {
    height: 40px;
    text-decoration: none;
    padding: 5px;
    border-style: solid;
    background-color: rgb(83, 83, 83) !important;
    color: white !important;
    border-radius: 10px;
}

.proj-link:hover {
    color: black !important;
    background-color: white !important;
}

.img-container {
    height: 250px !important;
    margin-bottom: 10px;
}

.shield {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.proj-title {
    color: rgb(83, 83, 83) !important;
    font-size: 1.8rem !important;
    text-align: center;
    padding-top: 10px;
}

@media only screen and (max-width: 900px) {
    .shield {
        height: 40px;
        width: 40px;
    }
}